<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.graduate.hotel.occupancy.service.OccupancyMapper">

	<!-- <select id="query" resultType="com.graduate.hotel.room.service.RoomVo" parameterType="java.util.Map">
			select r.id id,r.room_number room_number,r.position position,r.type_id type_id,r.state state,r.imgurl imgurl,r.phone phone,
			rt.bednum bednum,rt.bedtype bedtype,rt.breakfast breakfast,rt.people_num people_num,rt.price price,rt.remark remark,rt.tp_name tp_name
			from ht_room r join ht_roomtype rt on r.type_id=rt.ID where 1=1 
		<if test="type_id != null and type_id != '' ">
			and r.type_id=#{type_id}
		</if>
		<if test="room_number != null and room_number != '' ">
			and r.room_number like concat(concat('%',#{room_number}),'%')
		</if>
		order by r.room_number asc
    	 limit #{rowstart},#{rowend}
    </select>
    <select id="count" resultType="int" parameterType="java.util.Map">
    select COUNT(*) from ht_room r join ht_roomtype rt on r.type_id=rt.ID where 1=1 
		<if test="type_id != null and type_id != '' ">
			and r.type_id=#{type_id}
		</if>
		<if test="room_number != null and room_number != '' ">
			and r.room_number like concat(concat('%',#{room_number}),'%')
		</if>
	</select> -->
	<insert id="add" parameterType="com.graduate.hotel.occupancy.service.Occupancy">
		insert into ht_occupancy(id,in_no,room_id,room_number,c_name,c_sex,zj_type,zj_no,p_account,in_time,days,foregift,chk_no,chk_time,contact,op_id,remark,time_stamp)
		values(#{id},#{in_no},#{room_id},#{room_number},#{c_name},#{c_sex},#{zj_type},#{zj_no},#{p_account},#{in_time},#{days},#{foregift},#{chk_no},#{chk_time},#{contact},#{op_id},#{remark},now())
	</insert>
	
	<select id="findById" parameterType="String" resultType="com.graduate.hotel.occupancy.service.Occupancy">
		select * from ht_occupancy where id=#{id}
	</select>
	
	<select id="findNewRecords" parameterType="String" resultType="com.graduate.hotel.occupancy.service.Occupancy">
		select * from ht_occupancy where in_no=(select in_no from ht_occupancy where room_id=#{room_id} order by time_stamp desc LIMIT  1)
	</select>
	
	<update id="toStay" parameterType="com.graduate.hotel.occupancy.service.Occupancy">
		update ht_occupancy set days=#{days},foregift=#{foregift},op_id=#{op_id},remark=#{remark},time_stamp=#{time_stamp} where in_no=#{in_no}
	</update>
	
	<update id="checkOut" parameterType="com.graduate.hotel.occupancy.service.Occupancy">
		update ht_occupancy set chk_no=#{chk_no},chk_time=#{chk_time},op_id=#{op_id},time_stamp=now() where in_no=#{in_no}
	</update>
	
	<update id="changeRoom" parameterType="com.graduate.hotel.occupancy.service.Occupancy">
		update ht_occupancy set room_id=#{room_id},room_number=#{room_number},foregift=#{foregift},op_id=#{op_id},time_stamp=now() where id=#{id}
	</update>
	
</mapper>
