/* CSS Document */


*{margin:0;padding:0;}
html{overflow-y:scroll;}
body{margin:0;padding:0;color:#333;font:12px/1.5 Microsoft Yahei, Arial, Helvetica, sans-serif;}
ul,ol,dl{list-style:none;}
b,em,i,u,strong{font-weight:normal;font-style:normal;text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:14px;font-weight:normal;}
a{color:#646464;text-decoration:none;}
a:hover{text-decoration:none;}
table{border-collapse:collapse; border-spacing:0; width:100%; border:0;}
table th{font-weight:normal; text-align:left;}
input,select,textarea{vertical-align:middle; font:12px/1.5 宋体, Arial, Helvetica, sans-serif; color:#333; outline:none; resize:none;-webkit-appearance: none; border-radius:0;}
textarea{overflow-y:auto;}
img{border:0;}

label input{ margin-top:-2px; margin-right:5px;}
select{height:24px; padding:3px;}
select option{ padding:3px;}
.fr{ float:right;}
.fl{ float:left;}
.clear{clear:both; height:0; font-size:0; line-height:0; overflow:hidden;}
.clearfix{zoom:1;}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0;}


.upload{ position:relative; overflow:hidden;}
.upload input{ position:absolute; z-index:2; width:auto; right:0; top:0; -moz-opacity:0; opacity:0; filter:alpha(opacity=0); font-size:100px; cursor:pointer; height:34px; line-height:34px;}

.text-align-justify{ text-align:justify; text-justify:inter-ideograph;}

.radius{-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius:2px;}
.shadow{-moz-box-shadow:5px 5px 5px #999;-webkit-box-shadow:5px 5px 5px #999;box-shadow:5px 5px 5px #999; }
